.address {

    margin: 20px;
    color: white;
}

.transaction-info {
    color: rgb(30, 206, 30);
    font-size: 20px;
    font-style: italic;
  }

  .wallet-box-extended-th {
    background-color:rgb(37, 37, 48);
    padding: 20px;
    border-radius: 10px;
    min-width: 600px;
    max-width: 900px;
    margin: auto;
    margin-bottom: 30px;
    border-style: solid;
    border-width: 1px ;
    box-shadow: 2px 4px 5px rgb(0, 0, 0);
  }

  .wallet-title {
    font-size: 42px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
  }

  .hash {

    margin: 40px;
    color: white;
  }