 .wallet-box {
    background-color:rgb(37, 37, 48);
    padding: 20px;
    border-radius: 10px;
    width: 700px;
    margin: auto;
    border-style: solid;
    border-width: 1px ;
    box-shadow: 2px 4px 5px rgb(0, 0, 0);

  }

  .wallet-title {

        margin: 60px;
        color: white;
    
  }

  .address {
    color: rgb(255, 255, 255);
    font-size: 1vm;
  }

  .balance {
    color: green;
    font-size: 20px;
  }
